{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
			book
			
			<h1>Books list</h1>

			{% if is_granted('ROLE_ADMIN') %}
			        <a class="btn btn-default" href="new">Create a new book</a>
			{% endif %}

			{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
			        <a class="btn btn-default" href="{{ path('fos_user_security_logout') }}">Logout</a>
			    {% else %}
			        <a class="btn btn-default" href="{{ path('fos_user_security_login') }}">Login</a>
			{% endif %}
			
		    <div class="row books">
			        {% for book in books %}
			            <div class ="col-xs-6 col-md-2">
			                <div class="book">
			                    <div class="cover">
			                    
			                    	{% if book.cover %}
										<img {{ getImage(asset('uploads/covers/') ~ book.cover, 150, 150) }}/>
									{% endif %}
									
			                    </div>
			                    
			                    <p class="id">{{ book.id }}</p>
			                    <p class="name">{{ book.name }}</p>
			                    <p class="author">{{ book.author }}</p>
			                    <p>{% if book.readIt %}{{ book.readIt|date('Y-m-d') }}{% endif %}</p>
			                    
			                    {% if book.file and (book.allowDownload or is_granted('ROLE_ADMIN'))%}
                        			<a class="btn btn-primary btn-xs" href="{{asset('uploads/files/') ~ book.file}}" download >download</a>
								{% endif %}
								
								{% if is_granted('ROLE_ADMIN') %}
                        			<a class="btn btn-default btn-xs" href="{{ path('book_edit', { 'id': book.id }) }}">edit</a>
								{% endif %}
			                    
						                </div>
						            </div>
						        {% endfor %}
						</div>
					
			        </div>
			    </div>
			{% endblock %}

{% block stylesheets %}

{% endblock %}
